<footer class="bg-neutral-primary border-t border-light-subtle bg-linear-to-t from-0% dark:from-brand/8 from-neutral-tertiary to-[24rem] to-primary">
    <div class="border-b border-light-subtle">
        <div class="w-full mx-auto max-w-8xl border-s border-e border-light-subtle">
            <div class="grid gap-12 xl:grid-cols-6 xl:gap-24 px-6 xl:pt-18 py-12">
                <div class="col-span-2">
                    <a href="/" class="flex mb-5">
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white leading-none">Lark</span>
                      </a>
                    <p class="max-w-lg mb-3 text-body leading-relaxed">Modern documentation, built for developers who care about design and speed.</p>
                    <p class="max-w-lg text-body">Docs platform better than Mintlify. Open source. Self-hostable.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full mx-auto max-w-8xl border-s border-e border-light-subtle px-6 py-12">
        <span class="block text-center text-body text-sm font-normal">© <span id="currentYear"></span> <a href="/" class="hover:underline">Lark™</a>. All rights reserved.</span>
    </div>
</footer>
