{{ define "main" }}
{{ partial "navbar" }}

<div class="w-full px-4 lg:px-0 mx-auto max-w-8xl">
  <div class="lg:flex">
    <div class="h-[calc(100vh-4rem)] overflow-y-auto px-4 py-6">
        {{ partial "sidebar" . }}
      </div>
    <div class="fixed inset-0 z-10 hidden bg-dark/50 dark:bg-dark/60" id="sidebarBackdrop"></div>

    <main id="content-wrapper" class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible lg:pt-0 mt-32 xl:mt-30">
      <div class="flex w-full">
        <div class="flex-auto max-w-full min-w-0">
          <div id="introContent" class="border-b border-border-default py-8 lg:px-8">
            <h1 class="inline-block mb-3 text-3xl font-semibold tracking-tight text-heading" id="content">{{ .Title | markdownify }}</h1>
            {{ with .Page.Params.Description }}
            <p class="text-lg text-body">{{ . | markdownify }}</p>
            {{ end }}
          </div>

          <div id="mainContent" class="lg:px-8 xl:pb-24 py-8 lg:pb-16">
            {{ .Content }}

            <aside class="flex mt-16 mb-8 font-medium leading-6" aria-label="Previous and next page navigation">
              {{ if isset .Page.Params "previous" }}
              <a class="inline-flex items-center justify-center text-body bg-neutral-primary-soft border border-default hover:bg-neutral-secondary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary-soft shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none" href="{{ .Page.Params.PreviousLink | relURL }}">
                <svg class="w-4 h-4 me-1.5 -ms-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/></svg>
                {{ .Page.Params.Previous }}
              </a>
              {{ end }}
              {{ if isset .Page.Params "next" }}
              <a class="inline-flex items-center justify-center ms-auto text-body bg-neutral-primary-soft border border-default hover:bg-neutral-secondary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary-soft shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none" href="{{ .Page.Params.NextLink | relURL }}">
                {{ .Page.Params.Next }}
                <svg class="w-4 h-4 ms-1.5 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
              </a>
              {{ end }}
            </aside>
          </div>
        </div>

        <div class="hidden w-64 flex-none px-4 lg:ps-8 xl:block">
          {{ if (eq .Page.Params.toc true) }}
          <div id="toc" class="flex overflow-y-auto sticky top-28 flex-col justify-between pt-10 pb-6 h-[calc(100vh-5rem)]">
            <div>
              <h4 class="mb-3 ps-2.5 text-sm font-semibold tracking-wide text-heading uppercase lg:text-xs">On this page</h4>
              {{ .TableOfContents }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </main>
  </div>
</div>
{{ end }}
